<div id="disqus_thread"></div>
<script type="text/javascript">

    var disqus_shortname = 'newint';
    var disqus_category_id = '3158771';
    var disqus_identifier = "<%= issue_article_path(@article.issue, @article) %>";
    var disqus_title = "<%= @article.issue.number %> - <%= @article.title.encode(Encoding.find('ASCII'), {:invalid => :replace, :undef => :replace, :replace => ''}) %>";
    var disqus_url = "<%= issue_article_url(@article.issue, @article) %>";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->