<div class="article-body">
  <% if @article.body.blank? %>
    <%= simple_format source_to_body(@article, :debug => current_user.try(:admin?)), :debug => current_user.try(:admin?) %>
  <% else %>
    <%= simple_format @article.body, :debug => current_user.try(:admin?) %>
  <% end %>
</div>
