<%- model_class = Article -%>
<div class="page-header">
  <h1>Popular articles</h1>
  <h3>The most read articles that have been shared by New Internationalist subscribers.</h3>
</div>

<div class="row">
  <% if @popular_articles %>
    <% @popular_articles.each_with_index do |article, index| %>
      <% if index % 3 == 0 %>
</div>
<div class="row popular">
      <% end %>
      <div class="col-sm-4">
        <%= render partial: "popular_article", locals: { article: article, guest_pass: article.popular_guest_pass } %>
      </div>
    <% end %>
  <% end %>
</div>