<h2>Digital subscription</h2>

<p>Some lovely welcome copy goes here, explaining who we are, why you'd love to subscribe.</p>

<p>TODO: Add big subscribe button linking to sign-up / payment.</p>

<p>If you're not sure whether you want to subscribe just yet, have a read of a trial issue:</p>

<p>TODO: try the "Issue" link as a magazine trial cover or button.</p>

<%= link_to "Issue", issues_path %>