<div class="page-header">
	<h1>Buy a subscription</h1>
	<%= retina_image_tag 'paypal.png', :alt => 'Secure payments by PayPal', :title => 'Secure payments by PayPal', :size => "200x51" %>
	<h3>All payments are made through credit cards via PayPal (PayPal account not required).<br />Special pricing is available for <a href="http://www.newint.com.au/libraries">school and library subscribers</a>.</h3>
</div>

<%= render 'form' %>
<%= render :partial => "shared/privacy" %>