<div class="page-header">
	<h1>Admin section</h1>
</div>
<p>Would you like a list of all <%= link_to "Users", admin_users_path %>?</p>
<p>Or retreat back to a list of <%= link_to "Issues", issues_path %>.</p>