<div class="page-header">
	<h1>Admin section</h1>
</div>

<p><%= link_to "Settings", admin_settings_path, :class => 'btn btn-primary' %> Set the pagination on search pages and change prices.</p>
<p><%= link_to "List Users", admin_users_path, :class => 'btn' %> A list of all user accounts and their expiry dates.</p>

<div class="form-actions">
	<%= link_to 'Back', root_path, :class => 'btn' %>
</div>