/* FONT-FACE DEFINITIONS */

/*
@font-face {
	font-family: 'iABCRegular';
	src: url(font-path('iabc-7-webfont.eot') + "?version=1.0");
	src: url(font-path('iabc-7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
			 url(font-path('iabc-7-webfont.woff') + "?version=1.0") format('woff'),
			 url(font-path('iabc-7-webfont.ttf') + "?version=1.0") format('truetype'),
			 url(font-path('iabc-7-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

/* NI font - Bodega Sans Black */

@font-face {
		font-family: 'Bodega';
		src: url(font-path('ni.ttf')) format('truetype');
}