/* FONT-FACE DEFINITIONS */

/* NI font - Bodega Sans Black */

@font-face {
    font-family: 'Bodega';
    src:url(asset_url('ni.eot'));
    src:url(asset_url('ni.eot?#iefix')) format('embedded-opentype'), url(asset_url('ni.woff')) format('woff'), url(asset_url('ni.ttf')) format('truetype'), url(asset_url('ni.svg#Bodega')) format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Fira Sans - Google fonts */
// https://fonts.google.com/specimen/Fira+Sans

@font-face {
    font-family: Fira Sans;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url(asset_url('firasans-light-webfont.woff2')) format("woff2"), url(asset_url('firasans-light-webfont.woff')) format("woff")
}

@font-face {
    font-family: Fira Sans;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url(asset_url('firasans-lightitalic-webfont.woff2')) format("woff2"), url(asset_url('firasans-lightitalic-webfont.woff')) format("woff")
}

@font-face {
    font-family: Fira Sans;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url(asset_url('firasans-book-webfont.woff2')) format("woff2"), url(asset_url('firasans-book-webfont.woff')) format("woff")
}

@font-face {
    font-family: Fira Sans;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url(asset_url('firasans-bookitalic-webfont.woff2')) format("woff2"), url(asset_url('firasans-bookitalic-webfont.woff')) format("woff")
}

@font-face {
    font-family: Fira Sans;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url(asset_url('firasans-medium-webfont.woff2')) format("woff2"), url(asset_url('firasans-medium-webfont.woff')) format("woff")
}

@font-face {
    font-family: Fira Sans;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url(asset_url('firasans-mediumitalic-webfont.woff2')) format("woff2"), url(asset_url('firasans-mediumitalic-webfont.woff')) format("woff")
}
