// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-radius: 2px;
$shadow: 0px 2px 5px #999999;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
	font-family: $font-family;
	background-color: #3F5209;
}

h1, h2 {
	color: #FF0000;
}

a, a:active, a:visited {
	color: #FF610B;
}

a:hover {
	color: #FF0000;
	text-decoration: none;
}

#container {
	background-color: #FFFFFF;
	width: 80%;
	max-width: 700px;
	margin: 20px auto 20px auto;
	padding: 10px 20px 20px 20px;
	
	/* Shadow */
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
	
	/* Rounded corners */
	border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
}

#alerts p {
	background-color: #C8EEAA;
	// padding: 5px;
	// line-height: 19px;
}

#user_nav {
	float: right;
	font-size: 0.9em;
}
