/* FONT-FACE DEFINITIONS */

/*
 * Devices: all, except Retina
 * Grading: -7
 */
@font-face {
	font-family: 'iABCRegular';
	src: url(font-path('iabc-7-webfont.eot') + "?version=1.0");
	src: url(font-path('iabc-7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
			 url(font-path('iabc-7-webfont.woff') + "?version=1.0") format('woff'),
			 url(font-path('iabc-7-webfont.ttf') + "?version=1.0") format('truetype'),
			 url(font-path('iabc-7-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'iABCItalic';
	src: url(font-path('iabci-7-webfont.eot') + "?version=1.0");
	src: url(font-path('iabci-7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
			 url(font-path('iabci-7-webfont.woff') + "?version=1.0") format('woff'),
			 url(font-path('iabci-7-webfont.ttf') + "?version=1.0") format('truetype'),
			 url(font-path('iabci-7-webfont.svg#iABCItalic') + "?version=1.0") format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'iABCRegularSC';
	src: url(font-path('iabc-sc-7-webfont.eot') + "?version=1.0");
	src: url(font-path('iabc-sc-7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
			 url(font-path('iabc-sc-7-webfont.woff') + "?version=1.0") format('woff'),
			 url(font-path('iabc-sc-7-webfont.ttf') + "?version=1.0") format('truetype'),
			 url(font-path('iabc-sc-7-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
	font-weight: normal;
	font-style: normal;

}

/*
 * Devices: Retina landscape 
 * Grading: 0
 */
@media only screen and (min-device-pixel-ratio: 1.5),
			 only screen and (-webkit-min-device-pixel-ratio: 1.5) {

	@font-face {
		font-family: 'iABCRegular';
		src: url(font-path('iabc-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'iABCItalic';
		src: url(font-path('iabci-webfont.eot') + "?version=1.0");
    src: url(font-path('iabci-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabci-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabci-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabci-webfont.svg#iABCItalic') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'iABCRegularSC';
		src: url(font-path('iabc-sc-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc-sc-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc-sc-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc-sc-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc-sc-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}

	/* preload the +7 font so that the user doesn't have to wait for the download */
	@font-face {
		font-family: 'iABCRegularPreload';
    src: url(font-path('iabc7-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc7-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc7-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc7-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'iABCItalicPreload';
		src: url(font-path('iabci7-webfont.eot') + "?version=1.0");
    src: url(font-path('iabci7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabci7-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabci7-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabci7-webfont.svg#iABCItalic') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'iABCRegularSCPreload';
		src: url(font-path('iabc-sc7-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc-sc7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc-sc7-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc-sc7-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc-sc7-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}
}

/*
 * Devices: Retina portrait 
 * Grading: +7
 */
@media only screen
			 	and (orientation : portrait)
				and (min-device-pixel-ratio: 1.5),
			 only screen
				and (orientation : portrait)
				and (-webkit-min-device-pixel-ratio: 1.5) {

	@font-face {
		font-family: 'iABCRegular';
    src: url(font-path('iabc7-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc7-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc7-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc7-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'iABCItalic';
		src: url(font-path('iabci7-webfont.eot') + "?version=1.0");
    src: url(font-path('iabci7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabci7-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabci7-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabci7-webfont.svg#iABCItalic') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'iABCRegularSC';
		src: url(font-path('iabc-sc7-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc-sc7-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc-sc7-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc-sc7-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc-sc7-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}


	/* preload the 0 font so that the user doesn't have to wait for the download */
	@font-face {
		font-family: 'iABCRegularPreload';
		src: url(font-path('iabc-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'iABCItalicPreload';
		src: url(font-path('iabci-webfont.eot') + "?version=1.0");
    src: url(font-path('iabci-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabci-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabci-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabci-webfont.svg#iABCItalic') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}

	@font-face {
		font-family: 'iABCRegularSCPreload';
		src: url(font-path('iabc-sc-webfont.eot') + "?version=1.0");
    src: url(font-path('iabc-sc-webfont.eot') + "?#iefix&version=1.0") format('embedded-opentype'),
         url(font-path('iabc-sc-webfont.woff') + "?version=1.0") format('woff'),
         url(font-path('iabc-sc-webfont.ttf') + "?version=1.0") format('truetype'),
         url(font-path('iabc-sc-webfont.svg#iABCRegular') + "?version=1.0") format('svg');
		font-weight: normal;
		font-style: normal;

	}
}

