<h1>Administer users</h1>
<p>Here are all the users:</p>
<ul>
	<% @users.each do |user| %><li><%= link_to "#{user} (#{user.user_type})", [:admin, user] %></li><% end %>
</ul>
<%= link_to "New User", new_admin_user_path %> | <%= link_to "Back", admin_root_path %>
